
<h2>SONG</h2>

<b>Song Title:</b> <%= @song.title %><br>
<b>Release Year:</b> <%= @song.release_year %><br>
<b>Genre:</b> <%= @song.genre %><br>
<b>Artist Name:</b> <%= @song.artist_name %><br>